body {
  background: blanchedalmond;
}
  div{
    padding: 4em; 
    margin-bottom: 2em;
  }                         
  div{
    border: 4px groove purple;
    text-align: center;
  }
div{
  display:flexbox;
}
container {
  padding: 4em; 
  margin-bottom: 2em;
} 
.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}                  
                    
{   
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;  
                
  }
